<article class="post-summary">
  {{#post}}
    <a href="{{url}}" title="{{title}}">
      <h4 class="post-time">{{title}}</h4>
      <time class="post-time" datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time>
    </a>
    <p class="post-exerpt">{{{exerpt}}}&hellip;</p>
  {{/post}}
</article>
