<article class="post-archive">
  <a href="{{url}}" title="{{title}}">
    <span class="post-time">{{title}}</span>
    <time class="post-time" datetime="{{published_at}}">Published {{date format="MMMM Do YYYY"}}</time>
  </a>
</article>
